{
  "Servers": {
    "1": {
      "Name": <DATABASE_NAME>,
      "Group": <DATABASE_GROUP>,
      "Port": <DATABASE_PORT>,
      "Username": <DATABASE_USERNAME>,
      "Host": <DATABASE_HOST_NAME>,
      "MaintenanceDB": <MAINTENANCE_DB>,
      "ConnectionParameters": {
        "sslmode": "prefer",
        "connect_timeout": 10
      }
    }
  }
}
